body{
    background-color: #DFC5FE;
}

h1{
    color: purple;
    font-weight: bold;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;

}

.announce{
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

